body
    {
    font-size: 24px;
    }

.button
    {
    cursor: pointer;
    color: blue;
    margin: 0 3px;
    }

.button:hover
    {
    text-decoration: underline;
    }


    /* Top Menu */

#Menu
    {
    margin-bottom: 20px;
    }

#Message
    {
    background-color: rgba(201, 219, 237, 0.83);
    }


    /* Drum Machine */

#DrumTable
    {
    border-collapse: collapse;
    text-align: center;
    }

#DrumTable tr:nth-child(even)
    {
    background-color: rgba(182, 221, 237, 0.30);
    }

#DrumTable td, #DrumTable th
    {
    border: 1px solid black;
    padding: 10px;
    min-width: 15px;
    height: 15px;
    }

#DrumTable select
    {
    font-size: 20px;
    }

#DrumTable th
    {
    min-width: 230px;
    text-align: right;
    }

#DrumTable th input
    {
    width: 70px;
    }

.ComponentRow td
    {
    cursor: pointer;
    }

.BeatColumn
    {
    background-color: rgba(167, 165, 237, 0.3);
    }

.CurrentNote
    {
    background-color: rgba(237, 133, 105, 0.5);
    }


    /* Drum Machine Menu */

#DrumMenu
    {
    margin-top: 20px;
    display: none;
    }

.selected
    {
    background-color: rgba(165, 48, 50, 0.26);
    }

#BeatsContainer .button
    {
    padding: 0 5px;
    }

.value
    {
    color: green;
    font-weight: bold;
    }


    /* Beats Table */

#BeatsTable
    {
    text-align: center;
    }

#BeatsTable th
    {
    background-color: rgba(50, 50, 50, 0.1);
    padding: 0 15px;
    }

#BeatsTable tr:nth-child(odd)
    {
    background-color: rgba(150, 150, 150, 0.1);
    }