.clickableRow
    {
    cursor: pointer;
    }

.tooltip
    {
    position: absolute;
    min-width: 100px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px 0;
    padding: 5px;
    }

#CheckMessagesTable tr:nth-child(even)
    {
    background-color: #e6edeb;
    }

#CheckMessagesTable td
    {
    padding: 5px;
    min-width: 200px;
    position: relative;
    }

#CheckMessagesTable td:last-child
    {
    min-width: 10px;
    }