{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Poll</title>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="Menu">
    <a href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}
        <a href="{% url 'accounts:user_page' user.username %}">{{ user.username }}</a>
        <a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}">logout</a>
    {% else %}
        <a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">login</a>
    {% endif %}
</div>

{% if message %}
    <p id="Message">{{ message }}</p>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>