{% extends "base.html" %}

{% block scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static 'drum_machine/libraries/jquery-2.1.4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'drum_machine/scripts/utilities.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/beats.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/audio.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/drum_machine.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/message.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/component.js' %}"></script>
    <script type="text/javascript" src="{% static 'drum_machine/scripts/main.js' %}"></script>
{% endblock %}

{% block content %}

<table id="DrumTable"></table>

<div id="DrumMenu">
    <div>
        <span id="Play" class="button">Play</span>

        <label for="Volume">Volume</label>
        <input id="Volume" type="range" min="0" max="1.2" step="0.1" />
        <span id="VolumeValue" class="value"></span>

        <label for="Tempo">Tempo</label>
        <input id="Tempo" type="range" min="40" max="200" step="1" />
        <span id="TempoValue" class="value"></span>

        <label for="BeatsPerPattern">Beats per pattern</label>
        <input type="range" id="BeatsPerPattern" min="1" max="10" step="1" />
        <span id="BeatsPerPatternValue" class="value"></span>

        <label for="StepsPerBeat">Steps per beat</label>
        <input type="range" id="StepsPerBeat" min="1" max="6" step="1" />
        <span id="StepsPerBeatValue" class="value"></span>
    </div>
    <div id="BeatsContainer">
        <span>beats</span>
    </div>

    {% if user.is_authenticated %}
        <div id="SaveBeatContainer">
            <label for="BeatName">name</label>
            <input id="BeatName" type="text" />
            <span id="SaveBeat" class="button">save</span>
        </div>
    {% else %}
        <div>Need to <a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">login</a> to save.</div>
    {% endif %}
</div>

{% endblock %}